body{
    background-color: brown;
}

h1{
    color: aquamarine;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-align: center;
    background-color: rgb(128, 128, 128);
    color: blue;
}
h2,h3{
    font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    text-align: right;
    text-decoration: underline;
    background-color: pink;
    color: #654321;
}
li{
    color: pink;
    text-decoration: line-through;
    text-decoration-color: #654321;
    text-decoration-thickness: 3px;
}